<section class="signin-container">
    <div class="form-container">
        <form [formGroup]="signUpForm" (submit)="signUp()">
            <input type="text" id="name" placeholder="Nome" formControlName="name">
            <input type="text" id="cpf" placeholder="CPF" formControlName="cpf">
            <input type="text" id="email-signup" placeholder="Email"  formControlName="email">
            <input type="password" id="password-signup" placeholder="Senha" formControlName="password">
            <input type="password" id="confirm-password-signup" placeholder="Confirmar senha" formControlName="confirmPassword">
            <div class="radio-container">
                <label>Como deseja se cadastrar?</label><br>
                <input class="user-clearence" type="radio" id="patient" name="vocation" value="PACIENTE" formControlName="vocation">
                <label for="patient">Paciente</label><br>
                <input class="user-clearence" type="radio" id="doctor" name="vocation" value="MEDICO" formControlName="vocation">
                <label for="doctor">Médico(a)</label><br>
                <input class="user-clearence" type="radio" id="nurse" name="vocation" value="ENFERMEIRO" formControlName="vocation">
                <label for="nurse">Enfermeiro(a)</label>
            </div>
            <button id="signin-button" type="submit">Salvar</button>
        </form>
        <button [routerLink]="['/']" id="signup-button">Voltar</button>
    </div> 
</section>
